In [4]:
print("hello world",end="\n")
print("hey tushar")

hello world
hey tushar

In [6]:
print("hello world",end="\n")
print("hey tushar")

hello world
hey tushar

In [7]:
print("hello world",end=" ")
print("hey tushar")
print("new user")

hello world hey tushar
new user

In [10]:
age=100

In [11]:
print( type(age) )

<class 'int'>

In [12]:
city="Jaipur"
print( type(city) )

<class 'str'>

In [14]:
city='Jaipur'
print( type(city) )

<class 'str'>

In [16]:
address="""mahatma gandi road
gopalpura by pass
Jaipur"""

In [18]:
print(address)

mahatma gandi road
gopalpura by pass
Jaipur

In [21]:
company="regex"
year=2024
print("Company name is:",company,"year is:",year)

Company name is: regex year is: 2024

In [25]:
company="regex"
year=2024
print( f"Company name is {company} year is {year}")

Company name is regex year is 2024

In [29]:
username="tushar"
msg= f"hey user {username}"

print(msg)

username="aman"
print(msg)

hey user tushar
hey user tushar

In [33]:
city="jaipur"
print("before:", id(city))

y="jaipur"
print("Y :", id(y))

city="isha"
print("After:", id(city))

before: 2032287910576
Y : 2032287910576
After: 2032309174320

In [35]:
print(y)

jaipur

In [36]:
# operators
# Arithmetic
20/3

6.666666666666667

In [38]:
20//3

6

In [39]:
10.0+5

15.0

In [41]:
1+5*4/2-7+8

12.0

In [42]:
20%3

2

In [43]:
# **
3**4

81

In [44]:
# ** 
# * /  // %
#  +  -

In [46]:
# assignment
x=10
x = x+5     # x+=5
print(x)

15

In [48]:
x=5
x **=3
print(x)

125

In [49]:
# +=,  //=

In [50]:
# comparison

In [52]:
# logical
# and  or  not

x=10
y=17

x==10 and y>18

False

In [53]:
# memership  & identity

"J" in "Jaipur"

True

In [54]:
"j" in "Jaipur"

False

In [57]:
"purJ" not in "Jaipur"

True

In [58]:
# identity
# variable => data type
# object belong to a class

x=10
type(x) is int

True

In [60]:
x="abc"
type(x) is not int

True

In [61]:
# ==  and is operator

x=500
y=500

In [63]:
x==y

True

In [65]:
x is y

False

In [66]:
# conditional statement

In [74]:
# if  statement
'''
if(condition):
    statement

'''
x=101

if( x==10 ):
    print("hello")
else:
    print("condition is false")

condition is false

In [77]:
x=15
if( x==10 ):
    print("hello")    
elif( x==12 ):
    print("hey")
else:
    print("condition is false")

condition is false

In [78]:
#  take 3 variable and find out the minium value

In [79]:
'''
take a input from the user and do the following
- if the number is greater than 60 print avergage
- if the number is greater than 70 and less than 80 print Good
- if the number is greater than 80 print Excellenebt
- otherwise print "BAD"



'''

'\ntake a input from the user and do the following\n- if the number is greater than 60 print avergage\n- if the number is greater than 70 and less than 80 print Good\n- if the number is greater than 80 print Excellenebt\n- otherwise print \n\n\n\n'

In [83]:
x= int(  input("Enter a number:") )
print( type(x))

Enter a number:1
<class 'int'>

In [84]:
'''
Q1 user input on number of unit in integer
- for the starting 10 unit price is 50 rs each
- for the next 20 unit price is 20 rs each
- for the rest of unit price will be 10rs
calculate the total price
100  =>  500  +400 +700
90
70

Q2:
take 3 number as input from a user as 3 side of a triangle
and check whether it will create a triagle or not

Q3 Take two number from the user and check whether both the number are divisble
by 6
( divisibility rule say it should be divided by 2 and 3)

'''

'\nQ1 user input on number of unit in integer\n- for the starting 10 unit price is 50 rs each\n- for the next 20 unit price is 20 rs each\n- for the rest of unit price will be 10rs\ncalculate the total price\n100  =>  500  +400 +700\n90\n70\n'